@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.Display{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-end;
    background-color: #32363f;
    width: 325px; height: 80px;
    margin: 7.5px;
    padding: 10px;
    color: white;

    & div{
        font: 45px 'Poppins', sans-serif;
        text-align: right;
    }

    & div:nth-child(2){
        line-height: 45px;
    }

    & div:nth-child(1){
        font: 25px 'Poppins', sans-serif;

    }
}