@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.Display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    background-color: var(--display);
    width: 285px; height: 50px;
    margin: 7.5px;
    padding: 10px;
    color: var(--font);
    border: solid 1px var(--border);

    & span div{
        font-family: 'Poppins', sans-serif;
        font-size: 45px;
        text-align: right;
    }
}